        <div class="thumb-title">
        <div style="thumbbackground">
        	<div  class="h20 w60 floatleft"></div>
 				<div class="favicon w20 h20 floatleft">
 					    <i class="toggle-favorite icon-heart" ng-click="toggleFavorite(event)"></i>
				</div>
            	<div class="w80 h80">
                	<img src="{{imagesrc}}" ng-click="playSong()"/>
            	</div>
            <div class="title-text" ng-click="playSong()">
                {{title}}
      		 </div>
        </div>
        </div>